/* Global View aka Desktop View */
.container {
    min-height: 500px; 
    max-width: 1024px;
    /* Center's the container div */
    margin: 0px auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col {
    background-color: rgb(43,226,147);
    min-height: 200px; */
    width: 30%;
    margin-bottom: 20px;
    /* margin-bottom: 20px;
    margin-top: 20px; */
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

/* Tablet View */
@media(max-width: 768px) {
    .col {
        width: 45%;
    }
    .hide-desktop-only {
        display: block;
    }
}

/* Mobile View */
@media(max-width: 400px) {
    .col {
        width: 100%;
    }
    .hide-mobile-only {
        display: none;
    }
}